@import './base.css';

.my-padding{
   padding:0 10px 50px 10px;
}
@media (min-width:500px) {
    .my-padding{
        padding:0 26px 50px 26px;
    }
}

@media (min-width:768px) {
    .my-padding{
        padding:0 34px 50px 34px;
    }
}
@media (min-width:1024px) {
    .my-padding{
        padding:0 56px 50px 56px;
    }
}
@media (min-width:1280px) {
    .my-padding{
        padding:0 94px 50px 94px;
    }
}